@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    font-family: 'Euclid Circular A', sans-serif;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A'), url('../assets/fonts/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Euclid Circular A Bold';
    src: local('Euclid Circular A Bold'), url('../assets/fonts/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Euclid Circular A SemiBold';
    src: local('Euclid Circular A SemiBold'), url('../assets/fonts/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ SemiBold.ttf') format('truetype');
}


.semibold-text {
    font-family: 'Euclid Circular A SemiBold';
}

.bold-text {
    font-family: 'Euclid Circular A Bold', sans-serif;
}

nav ul {
    margin-bottom: 0;
}

.fade-enter {
    opacity: 0;
}

.fade-exit {
    opacity: 1;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
    transition: opacity 400ms;
}


.slick-list {
    margin: 0 -6px;
}


.slick-slide>div {
    padding: 0 6px;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.plan_pricing_container,
.reviews_container,
.categories_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
}

.ant-divider-horizontal {
    margin: 13px 0 !important;
    border-block-start: 1px solid #D9D9D9 !important;
}


.search-bar {
    width: 60% !important;
}

.ant-input-group-wrapper {
    flex: 1 0 0 !important;
    display: flex !important;
}

.ant-input-wrapper {
    background: #F4F3F6 !important;
    border: none !important;
    border-radius: 8px !important;
}

.ant-input {
    background-color: #F4F3F6;
}

.ant-input::placeholder {
    color: #8F9BB3 !important;
    font-size: 14px !important;
}

.ant-input-affix-wrapper {
    background-color: #F4F3F6;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.ant-input-group-addon {
    display: none !important;
}

.ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-start-end-radius: 4px;
    border-end-end-radius: 4px;
}


.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-start-start-radius: 4px;
    border-end-start-radius: 4px;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    border-color: #E0E0E0 !important;
    box-shadow: none !important;
    outline: 0;
}

.h_underline {
    position: relative;
}

.h_underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5627FF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.h_underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.h_underline:hover {
    color: #5627FF !important;
}

.active_underline {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5627FF;
}

.content_ .content-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}


.content_:hover .content-overlay {
    opacity: 1;
}


.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content_:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.animated_btn {
    border-radius: 4px;
    font-size: 24px;
    border: 1px solid black;
    padding: 14px 40px;
    box-shadow: inset 0 0 0 0 rgba(86, 39, 255, 1);
    transition: ease-out 0.8s;
}

.animated_btn:hover {
    box-shadow: inset 400px 0 0 0 rgba(86, 39, 255, 1);
    color: white;
}

.btn_bg {
    background: linear-gradient(285deg, #FF1C7C 0%, rgba(255, 0, 61.20, 0.94) 100%)
}


@media screen and (max-width:1024px) {
    .hero_buttons {
        justify-content: center;
        align-items: center;

    }

    .hero_buttons button:first-of-type {
        width: 140px;
    }

    .hero_buttons button:last-of-type {
        width: 240px;
    }

    .fm_center {
        text-align: center;
    }
}

@media (max-width: 1420px) {


    .professions_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .plan_pricing_container,
    .reviews_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {

    .categories_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 645px) {

    .categories_container,
    .plan_pricing_container,
    .reviews_container {
        grid-template-columns: 1fr;
    }

}