@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A'), url('../assets/fonts/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Euclid Circular A Bold';
    src: local('Euclid Circular A Bold'), url('../assets/fonts/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Euclid Circular A SemiBold';
    src: local('Euclid Circular A SemiBold'), url('../assets/fonts/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ SemiBold.ttf') format('truetype');
}


body {
    font-family: 'Euclid Circular A', sans-serif;
}

.semibold-text {
    font-family: 'Euclid Circular A SemiBold';
}

.bold-text {
    font-family: 'Euclid Circular A Bold', sans-serif;
}

.fade-enter {
    opacity: 0;
}

.fade-exit {
    opacity: 1;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
    transition: opacity 400ms;
}

.courses_container,
.plans_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.professions_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
}

.plan_pricing_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
}

.ant-divider-horizontal {
    margin: 13px 0 !important;
    border-block-start: 1px solid #D9D9D9 !important;
}